<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="person1" destroy-method="myDestroy" init-method="myInit"
          class="cn.zxf.test.lifecycle.Person">
        <property name="name">
            <value>jack</value>
        </property>
    </bean>

    <!-- 配置自定义的后置处理器 -->
    <bean id="postProcessor" class="cn.zxf.test.lifecycle.MyBeanPostProcessor"/>
</beans>
