<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zxf.sentinel.cluster.gateway.mapper.RuleMapper">

    <select id="selectEnabledAll" resultType="cn.zxf.sentinel.cluster.config.RulePO">
        SELECT * FROM qps_rule
        WHERE
            enable = 1
    </select>

</mapper>