<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{20} - %msg%n</Pattern>
        </encoder>
    </appender>
    <!--root是默认的logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <!--这个logger没有指定appender，它会继承root节点中定义的那些appender-->
    <logger name="org.springframework.web" level="INFO"/>
</configuration>